html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
}
#square {
  width: 40px;
  height: 40px;
  background-color: #fff;
}
#erase {
  width: 40px;
  height: 40px;
  border: #fff dotted 2px;
  border-radius: 50%;
  box-sizing: border-box;
}
main { 
  margin-top: 70px;
  height: calc(100% - 70px);
}
header {
  position: absolute;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #515151;
  color: #fff;
}
nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.brush{
  margin: 0 2em;
}